<!DOCTYPE html>
<html ng-app="store">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Gem Store</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="assets/css/main.css" />
    <script src="assets/js/angular.min.js"></script>
    <script src="assets/js/app.js"></script>

</head>

<body class="container">
    <h1> Gemstore</h1>
    <div class="row" ng-controller="StoreController as store">
        <div class="list-inline">
            <ul class="list-group">
                <li class="list-group-item col-md-4" ng-repeat="item in store.items">
                    <h3>
                        {{item.name}}
                        <em class="pull-right"> {{item.price | currency : "£"}} </em>
                    </h3>

                    <div class='gallery' ng-controller="GalleryController as gallery" ng-show="item.image.length">
                        <img ng-src="{{this.image[gallery.current]}}" />
                        <ul class="list-inline thumbs">
                            <li class="thumbnail" ng-repeat="image in item.image">
                                <img ng-src="{{image}}" />
                            </li>
                        </ul>
                    </div>

                    <section ng-controller="PanelController as panel">
                        <ul class="nav nav-pills">

                            <li ng-class="{ active: panel.isSet(1)}">
                                <a href ng-click="panel.selectTab(1)">Description</a>
                            </li>
                            <li ng-class="{ active: panel.isSet(2)}">
                                <a href ng-click="panel.selectTab(2)">Specification</a>
                            </li>
                            <li ng-class="{ active: panel.isSet(3)}">
                                <a href ng-click="panel.selectTab(3)">Reviews</a>
                            </li>

                        </ul>

                        <div class="panel" ng-show="panel.isSet(1)">
                            <h4> Description: </h4>
                            <p>{{item.description}}</p>
                        </div>
                        <div class="panel" ng-show="panel.isSet(2)">
                            <h4> Specification: </h4>
                            <p>None yet</p>
                        </div>
                        <div class="panel" ng-show="panel.isSet(3)">
                            <h4> Reviews: </h4>
                            <blockquote ng-repeat="review in item.reviews">
                                <b>Stars: {{review.stars}}</b>
                                <p>{{review.body}}</p>
                                <cite class="clearfix">—{{review.author}}</cite>
                            </blockquote>

                            <form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewCtrl.addReview(item)" role="form"
                                class="form-group">
                                <h3>Submit a review</h3>
                                <div class="container">
                                    <h4>Live Preview</h4>
                                    <blockquote>
                                        <b>Stars: {{reviewCtrl.review.stars}}</b>
                                        <p>{{reviewCtrl.review.body}}</p>
                                        <cite class="clearfix">—{{reviewCtrl.review.author}}</cite>
                                    </blockquote>
                                </div>
                                <fieldset class="form-group">
                                    <select ng-model="reviewCtrl.review.stars" class="form-control" ng-options="stars for stars in [5,4,3,2,1]" title="Stars">
                                        <option value="">Rate the Product</option>
                                    </select>
                                </fieldset>
                                <fieldset class="form-group">
                                    <textarea ng-model="reviewCtrl.review.body" class="form-control" placeholder="Write a short review of the product..." title="Review"></textarea>
                                </fieldset>
                                <fieldset class="form-group">
                                    <input ng-model="reviewCtrl.review.author" type="email" class="form-control" placeholder="jimmyDean@example.org" title="Email"
                                    />
                                </fieldset>
                                <fieldset class="form-group">
                                    <input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
                                </fieldset>
                            </form>
                        </div>
                        <button type="button" class="btn " ng-show="item.canPurchase"> Add to cart </button>
                    </section>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>